# Telegram Bot
BOT_TOKEN=
ADMIN_IDS=

# Channel
CHANNEL_USERNAME=
CHANNEL_CHAT_ID=

# Marzban API
MARZBAN_URL=
MARZBAN_ADMIN_USERNAME=
MARZBAN_ADMIN_PASSWORD=

# Database
DATABASE_URL=
POSTGRES_PASSWORD=

# CryptoBot
CRYPTO_BOT_TOKEN=

# Platega
PLATEGA_MERCHANT_ID=
PLATEGA_API_KEY=
PLATEGA_SECRET_KEY=

# VLESS Reality
VLESS_SNI=
VLESS_PUBLIC_KEY=
